[submodule "md-dashing-theme"]
	path = md-dashing-theme
	url = git@github.com:designerJordan/md-dashing-theme.git
[submodule "Mou-Theme"]
	path = Mou-Theme
	url = git@github.com:hzlzh/Mou-Theme.git
[submodule "Clearness-Dark-Plus"]
	path = Clearness-Dark-Plus
	url = git@github.com:Staudi/Clearness-Dark-Plus.git
[submodule "byword-for-mou"]
	path = byword-for-mou
	url = git@github.com:kvanlierop/byword-for-mou.git
[submodule "kublai-mou"]
	path = kublai-mou
	url = git@github.com:moizk/kublai-mou.git
[submodule "Verona"]
	path = Verona
	url = git@github.com:ClockworkEngine/Verona.git
[submodule "mou-theme-solarized"]
	path = mou-theme-solarized
	url = git@github.com:CodeCatalyst/mou-theme-solarized.git
[submodule "mou-theme-github2"]
	path = mou-theme-github2
	url = git@github.com:gcollazo/mou-theme-github2.git
[submodule "mou"]
	path = mou
	url = git@github.com:jessemutz/mou.git
[submodule "swizzle"]
	path = swizzle
	url = git@github.com:chrissimpkins/swizzle.git
[submodule "snowball"]
	path = snowball
	url = git@github.com:chrissimpkins/snowball.git
